<template name="home">
    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                      <img class="cover" src="images/bookcover.jpg" >
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">What is Research First UX? <div class="sub header">And Why Am I Writing a Book On It?</div></h3>
                    <p>
                      Until recently, I was a Product Manager my whole career. I gravitated towards design though, because having a psychology background
                      it just made senes for me.
                        <a href="https://github.com/matteodem/meteor-boilerplate/blob/master/.meteor/packages">helpful packages</a>
                        to get you started asap. Some of them are.</p>
                </div>
            </div>
        </div>
    </div>
</template>
