<template name="home">
    <div id="packages" class="main-content padding-wrapper">
      <div class="center aligned column">
          <div class="center aligned icon-wrapper">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
          </div>
      </div>
      <div class="four wide column">
        <h3 class="ui">What is this product?</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
      <div class="eight wide column">
        <img src="http://placehold.it/500x500">
      </div>
      </div>
</template>
