<template name="cta">
  <div class="row summary">
    <div class="eight wide column">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <img class="ui medium image" src="images/bookcover.jpg">
    </div>
    <div class="eight wide column">
      <div class="ui form cta">
        <h1>Sign up</h1>
        <form class="" method="POST" action="/no-form" id="">
          <div class="field">
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" required="required">
          </div>
          <div class="field">
        	  <label for="email">Email</label>
            <input type="email" name="email" id="email" required="required">
          </div>
          <div class="ui submit button" type="submit" name="submit" id="submit">
            Submit
          </div>
   	    </form>
      </div>
    </div>
  </div>
</template>
